<%= form_with(model: shift_location, local: true) do |form| %>
  <% if shift_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift_location.errors.count, "error") %> prohibited this shift_location from being saved:</h2>

      <ul>
      <% shift_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
